.App {
    text-align: center;
}

.App-logo {
    height: 30vmin;
    pointer-events: none;
    border-radius: 20px;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #1d222e;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

p {
      font-style: oblique;
      font-family: 'Pacifico', cursive;
      font-size: 40px;
  }

  span {
    font-family: 'Arimo', serif;
    font-size: 30px;
}

.imagem {
    display: table-cell;
    float: left;
    
  }
  
  .texto {
    display: flow-root;
    width: 500px;
    margin-left: 100px;
    text-size-adjust: 50%;
    
  }

  .conteudo {
    display: flow-root;
  }

  .skill-container {
    width: 100%;
    background-color: #ddd;
}

.skills {
    text-align: right;
    padding-right: 20px;
    line-height: 40px;
    color: white;
}

.skill-name {
    text-align: left;
    margin: 15px 0;
    }

    .learn {
        width: 100%;
        background-color: #616161;
        
    }
    
    .back-end {
        width: 60%;
        background-color: #616161;
        
    }
    
    .front-end {
        width: 75%;
        background-color: #616161;
        
    }
    
    .testing {
        width: 80%;
        background-color: #616161;
        
    }
    
    .design {
        width: 75%;
        background-color: #616161;
        
    }

  @media(max-width:960px) {
      .fullscreen-imagem {
          min-width: 116%;
          min-height: 100%;
          margin-bottom: -500px;
          margin-left: -520px;
      }
  }
  
  @media (max-width:720px) {
      .fullscreen-imagem {
          min-width: 116%;
          min-height: 100%;
          margin-bottom: -500px;
          margin-left: -640px;
      }
  }
  
  @media(max-width:568px) {
    .fullscreen-video-wrap video {
        margin-left: -800px;
    }
    }